{% extends "base.html" %}

{%block projects%}
    <section>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-1.jpg" alt="">
                                    </div>
                                </div>                                
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>
        
              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-2.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>

              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-3.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>

              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-4.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>
             
              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-5.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>

              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-3.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>

              <div class="swiper-slide">
                <div class="testimonialBox">
                    <div class="content">
                        <img src="/static/img/quote.png" class="quote" alt="">
                        <div class="conten">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptas itaque quidem aperiam. Explicabo, voluptatum ipsa ullam reprehenderit placeat qui inventore aliquid accusantium amet quidem? Incidunt, doloribus harum? Ipsa, similique.
                            </p>
                            <div class="details">
                                <div class="img-ring">
                                    <div class="imgBx">
                                        <img src="/static/img/testimonials/testimonials-3.jpg" alt="">
                                    </div>
                                </div>   
                                <h3>Someone Famous<br><span>Creative deisgner</span></h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        
    </section>
  <!-- Swiper -->
 
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 3,
        slideShadows: true,
      },
      loop:true,
    });
  </script>
{%endblock%}