{% extends "base.html" %}

{%block tech_stacks%}
<div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Technology Stacks</h2>
        <p>As Software Engineer I am involved from the comception to the materialization of the idea in a way of software deployment, in order to acomplish such comitment I worked but not limited with the following technologies</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Backend technologies</a></h4>
          <p class="description">C#, DOTNET, JAVA, ORACLE, MYSQL, SPRING</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Front End Developer</a></h4>
          <p class="description">ANGULAR, ASP.NET, HTML, CSS, SCSS, JAVASCRIPT</p>
        </div>
      </div>

      <div class="section-title">
        <h2>Projects</h2>
        <p></p>
      </div>
      <div class="row">
        
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Production support - Infosys</a></h4>
          <p class="description">Maintened the application created to bring support to retail stores arround the globe, such as repairs, pricing, stock, staffing, assitance to the customers with technologies as <br> JAVA, ORACLE, PLSQL, SPLUNK, SWIFT, REACT, REST API's, PYTHON, JAVASCRIPT  </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">TIS </a></h4>
          <p class="description">Project created to present taxes declarations in a multinational company around the world, project created with technologies as <br> JAVA, ORACLE, REST api, PL/SQL, JQUERY, JAVASCRIPT</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">RTS - Avianca</a></h4>
          <p class="description">Project created for the refunds to a aeroline company with technologies as: <br>ASPNET Razor pages, Oracle, C#, MVC, REST api, PL/SQL, JQUERY, JAVASCRIPT</p>
          <p></p>
          
        </div>
      </div>
      
    </div>
  </section><!-- End Services Section -->
{%endblock%}